#loading {
  display: none;
}
.skeleton-card {
  width: 500px;
  height: 100px;
  background: #e0e0e0;
  margin: 10px;
  border-radius: 10px;
  animation: shimmer 5.5s infinite;
  background: linear-gradient(to right, #e0e0e0 8%, #f0f0f0 18%, #e0e0e0 33%);
}

@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }
  360% {
    background-position: 1000px 0;
  }
}
#container {
  /* display: none; */
  visibility: hidden;
  position: absolute;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
